ion-card {
  margin-top: 50px;
  text-align: center;
}

ion-avatar {
  width: 100px;
  height: 100px;
  margin: 0 auto 10px;
}

ion-card-title {
  font-size: 1.3em;
  font-weight: 600;
  margin-top: 8px;
}
